In [1]:
import zipfile
import os
import numpy as np
import pandas as pd
import cv2

In [3]:
zip_path = r"C:\Users\91830\Downloads\Data Science  Course\Machine Learning\MNIST Handwritten DIGIT classficaion\digit data.zip"
folder = r"C:\Machine Learning\Datasets\digit MNIST"

In [4]:
with zipfile.ZipFile(zip_path,'r') as file:
    file.extractall(folder)

In [7]:
Row = []
label = []
original = r"C:\Machine Learning\Datasets\digit MNIST\Test dat"
os.chdir(original)
for i in os.listdir():
    path = original+"\\"+i
    os.chdir(path)
    for image in os.listdir():
        ndarray = cv2.imread(image)
        resized = np.resize(ndarray,(28,28))
        Row.append(resized.flatten())
        label.append(i)

In [10]:
df1 = pd.DataFrame(Row)
df2 = pd.DataFrame(label, columns= ['Status'])
df = pd.concat([df1,df2],axis = 1)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,Status
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,63,63,63,254,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,210,210,210,253,253,253,112,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,98,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,104,9
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,16,16,16,233,233,233,221,9
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

## Model Building

In [14]:
X = df.drop('Status',axis = 1)
y = df['Status']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=  0.2,random_state=23)

## KNN

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.7095

## Logistic

In [19]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\91830\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6135

## Naive Bayes

In [22]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)
y_pred = nb.predict(X_test)
accuracy_score(y_test,y_pred)

0.531

In [31]:
def prediction(path):
    image = cv2.imread(path)
    resized = np.resize(image,(28,28))
    data = resized.flatten()
    return log.predict([data])[0]

In [33]:
prediction(r"C:\Users\91830\Downloads\Data Science  Course\Machine Learning\MNIST Handwritten DIGIT classficaion\digit data\Test dat\9\9467.png")

'9'