# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [ ]:
#CODE HERE

In [1]:
print("My Name is MD Tahseen Equbal")

My Name is MD Tahseen Equbal

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [ ]:
#CODE HERE

In [ ]:
# Variable is a container for storing Data Value

In [2]:
# Creating a variable named 'message' and assigning it a string value
message = "Hello, world!"

# Printing the value stored in the 'message' variable
print(message)

Hello, world!

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [ ]:
#CODE HERE

In [5]:
# Decalaring Varialbes
width=17
height=12.0
delimiter="."
#Decalaring All Following Expression
a=width/2
b=width/2.0
c=height/3
d=1+4*5
e=delimiter*5
#Print all Expression value and Type
print("a", a)
print(type(a))
print("b", b)
print(type(b))
print("c", c)
print(type(c))
print("d", d)
print(type(d))

a 8.5
<class 'float'>
b 8.5
<class 'float'>
c 4.0
<class 'float'>
d 21
<class 'int'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE

In [6]:
#Declare Variable
a = 100
b = 200
c = a+b
#Print Summation and Number
print("First Number is :", a)
print("Second Number is :", b)
print("Addition of two numbers are", c)

First Number is : 100
Second Number is : 200
Addition of two numbers are 300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [ ]:
# CODE HERE

In [9]:
#Declare Variable
a = "MD Tahseen"
b = " Equbal"
c = a + b
#Print Concation and Name
print("My first name is :", a)
print("My second name is :", b)
print("My Full name is ", c)

My first name is : MD Tahseen
My second name is :  Equbal
My Full name is  MD Tahseen Equbal

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [ ]:
# CODE HERE

In [15]:
a,b,c,d = 10 , "10" , True , 10.5
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

10
<class 'int'>
10
<class 'str'>
True
<class 'bool'>
10.5
<class 'float'>

 `Question:`
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [ ]:
# CODE HERE

In [17]:
#Declaring Variable
num_int = 123
num_str = "456"
#Converting String into Integer and store in new variable 'a'
a = int(num_str)
#Perform Add Operation
c = num_int + a
print("Addition of 123 and 456  is : ",c)

Addition of 123 and 456  is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [ ]:
# CODE HERE

In [19]:
#Declare varible
r = 5
pi = 3.14
volume = 4/3*pi*r**3
print("Volume of Sphere : ",volume)

Volume of Sphere :  523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [20]:
# Define the cover price of the book
cover_price = 24.95
print("Cover Price :",cover_price)

# Define the discount percentage
discount_percentage = 0.40
print('Discount Percentage :', discount_percentage)

# Calculate the discount amount
discount_amount = cover_price * discount_percentage
print('Discount Amount :', discount_amount)

# Calculate the discounted price of one book
discounted_price = cover_price - discount_amount
print('Discounted Price :', discounted_price)

# Define the number of copies
number_of_copies = 60
print('Number of copies :', number_of_copies)

# Calculate the total cost for 60 copies
total_cost = (discounted_price * number_of_copies) + 3 + (0.75 * (number_of_copies - 1))

# Print the total wholesale cost
print("Total wholesale cost for 60 copies: Rs.", total_cost)

Cover Price : 24.95
Discount Percentage : 0.4
Discount Amount : 9.98
Discounted Price : 14.969999999999999
Number of copies : 60
Total wholesale cost for 60 copies: Rs. 945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)