# Pandas

 A Data Analysis Library
### Purpose -
    
    a- Data Manipulation -Sort Aggregate 
    
    b- Data Cleaning - Structural Error / Missing /outliers
    
    outliers -- Def -- Reason --Disadvantage -- identify -- Treatment
    
    c- Data Visualization 
    
--> It is Open Source Library 

--> The Data Structure / Object of Pandas :
    
    a- Series  --- 1-D Data, It represent Row or column approach, Numerical or Categorical Data , pd.series(list,tupple,array)
    
    b- Data Frame --- 2-D Data(Matrix), --Structured Data(rows,column), combination of Multiple 1-D Data
    
    c- Panel ( Ignore )3-D Data,

# Installing

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\91771\anaconda3\envs\tf\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\91771\anaconda3\envs\tf\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\91771\anaconda3\envs\tf\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\91771\anaconda3\envs\tf\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\91771\anaconda3\envs\tf\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Importing

In [2]:
import numpy as np

In [3]:
import pandas as pd

# Series

In [8]:
list1 = ['Virat','Dhoni','Rohit','Surya','Rahul']
tupel1 = (1.4,3.4,5.6,7.8,4.3)
array = np.array([1,4,7,9,1,3])

In [9]:
ser1 = pd.Series(list1)
ser1

0    Virat
1    Dhoni
2    Rohit
3    Surya
4    Rahul
dtype: object

In [6]:
ser2 = pd.Series(tupel1)
ser2

0    1.4
1    3.4
2    5.6
3    7.8
4    4.3
dtype: float64

In [7]:
ser3 = pd.Series(array)
ser3

0    1
1    4
2    7
3    9
4    1
5    3
dtype: int32

# Attributes

In [10]:
ser3.nbytes

24

In [11]:
ser3.ndim

1

In [12]:
ser3.size

6

In [13]:
ser3.shape

(6,)

# Index Change Manually

In [16]:
ser3 = pd.Series(array,index=['A','B','C','D','E','F'])  # Length of Index match with Array 
ser3

A    1
B    4
C    7
D    9
E    1
F    3
dtype: int32

# Data Frames

## Column Wise

In [18]:
list1 = ['Ramesh','Suresh','Mahesh','Naresh','Rajesh']
marks = [89,56,78,45,89]
age = [19,20,21,19,22]

In [20]:
pd.DataFrame({"Names":list1,
              "Marks":marks,
             "Age":age})

    Names  Marks  Age
0  Ramesh     89   19
1  Suresh     56   20
2  Mahesh     78   21
3  Naresh     45   19
4  Rajesh     89   22

## Row Wise

In [25]:
df = pd.DataFrame([["Virat","RCB",34],
             ["Rohit","MI",36],
             ["Dhoni","CSK",42],
             ["Surya","MI",35],
              ["Rahul","LSG",32],
              ["Gill","GT",23]
            
             ],columns = ["Player","Team","Age"])
df

  Player Team  Age
0  Virat  RCB   34
1  Rohit   MI   36
2  Dhoni  CSK   42
3  Surya   MI   35
4  Rahul  LSG   32
5   Gill   GT   23

# Converting File

In [26]:
df.to_csv('IPL.csv')

In [29]:
!pip install openpyxl  # For Excel File Opening we need it

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 250.0/250.0 kB 7.5 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

df.to_excel('IPL.xlsx')  # It Take more data Compare to CSV

# Attribute

In [32]:
df.shape

(6, 3)

In [33]:
df.columns # Column Names

Index(['Player', 'Team', 'Age'], dtype='object')

In [34]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [36]:
df.dtypes   # In Pandas String Data is Show is Object Data

Player    object
Team      object
Age        int64
dtype: object

In [37]:
df.shape[0]

6

In [40]:
df.info()  # Getting info about Data Use

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  6 non-null      object
 1   Team    6 non-null      object
 2   Age     6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [39]:
df.describe()  # Statistical Measure -- Descriptive

             Age
count   6.000000
mean   33.666667
std     6.218253
min    23.000000
25%    32.500000
50%    34.500000
75%    35.750000
max    42.000000

In [42]:
df.describe(percentiles = [0.1,0.3,0.4,0.8,0.9])

             Age
count   6.000000
mean   33.666667
std     6.218253
min    23.000000
10%    27.500000
30%    33.000000
40%    34.000000
50%    34.500000
80%    36.000000
90%    39.000000
max    42.000000