In [103]:
# Data Manapulation Important

In [1]:
import numpy as np 
import pandas as pd

In [ ]:
# Data Manipulation 
# Merging --  Common Column Required

In [13]:
df1 = pd.read_excel(r"C:\Users\91771\Desktop\Innomatic\EDA\Pandas\Datasets\Sample - Superstore.xls")

In [14]:
df1

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [16]:
df2 = pd.read_excel(r"C:\Users\91771\Desktop\Innomatic\EDA\Pandas\Datasets\Sample - Superstore.xls",sheet_name=2)

In [17]:
df2

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [18]:
m_df = pd.merge(df1,df2,on ="Region",how = 'inner')

In [19]:
m_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Person
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Cassandra Brandow
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Cassandra Brandow
2,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Cassandra Brandow
3,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Cassandra Brandow
4,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432,Cassandra Brandow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9969,CA-2017-153871,2017-12-11,2017-12-17,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Plainfield,...,East,OFF-BI-10004600,Office Supplies,Binders,Ibico Ibimaster 300 Manual Binding System,735.9800,2,0.00,331.1910,Chuck Magee
9990,9970,CA-2017-153871,2017-12-11,2017-12-17,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Plainfield,...,East,OFF-AP-10003622,Office Supplies,Appliances,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",22.7500,7,0.00,6.5975,Chuck Magee
9991,9982,CA-2017-163566,2017-08-03,2017-08-06,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.5200,5,0.20,5.3690,Chuck Magee
9992,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200,Chuck Magee
9993,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240,Chuck Magee

In [20]:
# Assingment Work

In [23]:
df = pd.read_csv(r"C:\Users\91771\Desktop\Innomatic\EDA\Pandas\Datasets\loandata.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP001640,Male,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban,Y
610,LP001536,Male,Yes,3+,Graduate,No,39999,0.0,600.0,180.0,0.0,Semiurban,Y
611,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban,Y
612,LP002101,Male,Yes,0,Graduate,NaN,63337,0.0,490.0,180.0,1.0,Urban,Y
613,LP002317,Male,Yes,3+,Graduate,No,81000,0.0,360.0,360.0,0.0,Rural,N

In [24]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y

In [26]:
df.shape

(614, 13)

In [27]:
# 1. How Many loan apllication are Aprroved ?

In [30]:
df.Loan_Status

0      N
1      Y
2      N
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [32]:
df.Loan_Status.value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [33]:
# Another Method

In [34]:
df['Loan_Status'].value_counts()[0]

422

In [35]:
df['Loan_Status']=="Y"

0      False
1       True
2      False
3       True
4       True
       ...
609     True
610     True
611     True
612     True
613    False
Name: Loan_Status, Length: 614, dtype: bool

In [36]:
sum(df['Loan_Status']=='Y')

422

In [37]:
# 2 How many female Applicant are there ?

In [38]:
df.Gender

0        Male
1      Female
2      Female
3      Female
4         NaN
        ...
609      Male
610      Male
611       NaN
612      Male
613      Male
Name: Gender, Length: 614, dtype: object

In [41]:
df.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [42]:
#Another Method
sum(df['Gender']=='Female')

112

In [43]:
# 3 What is the Average Loan amount in the Data Set ?

In [45]:
df.LoanAmount.mean()

146.41216216216216

In [46]:
# 4 How Many Gradutes are There

In [47]:
df.Education.value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [49]:
# Another Method 
sum(df['Education']=="Graduate")

480

In [50]:
# 5 How Many applicants are from Ruler Background

In [52]:
df.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [53]:
# Another
sum(df['Property_Area']=="Rural")

179

5. How many applicants are from rural background?
6. How many applicant's income is greater than 500?
7. How many are self employed?
8. what is the 25% of Loan Amount?
9. How many loans are rejected?
10. What is the variance in coapplicant income?

In [54]:
#5. How many applicants are from rural background?
sum(df['Property_Area']=="Rural")

179

In [56]:
#6. How many applicant's income is greater than 500?
sum(df["ApplicantIncome"]>500)

611

In [57]:
#7. How many are self employed?
sum(df["Self_Employed"]=='Yes')

82

In [59]:
#8. what is the 25% of Loan Amount?
df["LoanAmount"].quantile(0.25)

100.0

In [60]:
#9. How many loans are rejected?
sum(df['Loan_Status']=="N")

192

In [62]:
#10. What is the variance in coapplicant income?
df['CoapplicantIncome'].var()

8562929.518387161

In [63]:
# Advance Question

1. How many female loans are rejected?
2. What is the averge income of Male?
3. What is the minimum  loan amount of rural background?
4. How many graduates loans are approved ?
5. What is the average loan amount of self employed?

In [70]:
#1. How many female loans are rejected?
sum(df[df['Loan_Status']=='N']['Gender']=='Female')

37

In [71]:
sum((df['Loan_Status']=='N') & (df['Gender']=='Female'))

37

In [81]:
#2. What is the averge income of Male?

In [80]:
df[df['Gender']=='Male']['ApplicantIncome'].mean()

5446.460122699386

In [82]:
#3. What is the minimum  loan amount of rural background?
df[df['Property_Area']=='Rural']['LoanAmount'].min()

40.0

In [72]:
#4. How many graduates loans are approved ?
sum((df['Loan_Status']=='Y') & (df['Education']=='Graduate'))    # It is applicable when we dont want Satistical Measure

340

In [83]:
#5. What is the average loan amount of self employed?
df[df['Self_Employed']=='Yes']['LoanAmount'].mean()           # If Statistical measure

172.0

In [76]:
#6. How many are graduates from Rular areas ?
sum((df['Property_Area']=='Rural') & (df['Education']=='Graduate'))

131

In [84]:
# Advance Question

what is the maximum loan amount of Female Graduates?
What is the average income of Married Women?
What are the IDs that are rejected?
How many graduate applicant loans are rejected?
What is the average loan amount term of Graduates whose loans are approved ?

In [87]:
# 1 what is the maximum loan amount of Female Graduates?
df[(df['Education']== 'Graduate')  & (df['Gender']=='Female')]["LoanAmount"].max()

600.0

In [88]:
#2 What is the average income of Married Women?
df[(df['Married']== 'Yes')  & (df['Gender']=='Female')]["ApplicantIncome"].mean()

4829.645161290323

In [101]:
#3 What are the IDs that are rejected?
df[df['Loan_Status'] == 'N']['Loan_ID']

0      LP001722
2      LP002949
5      LP001259
9      LP001267
10     LP001086
         ...
601    LP002191
603    LP001996
604    LP001922
607    LP001637
613    LP002317
Name: Loan_ID, Length: 192, dtype: object

In [96]:
#4 How many graduate applicant loans are rejected?
sum((df['Loan_Status']== 'N')  & (df['Education']=='Graduate'))

140

In [102]:
# 5 What is the average loan amount term of Graduates whose loans are approved ?
df[(df['Loan_Status']=='Y') & (df['Education']=='Graduate')]['LoanAmount'].mean()

151.09365558912387